<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AOEDEMAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AOEDEMAP.Properties.Settings>
            <setting name="width" serializeAs="String">
                <value>510</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>230</value>
            </setting>
            <setting name="x" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="y" serializeAs="String">
                <value>600</value>
            </setting>
        </AOEDEMAP.Properties.Settings>
    </userSettings>
</configuration>